<%= form_with(model: article, local: true) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
