<p id="notice"><%= notice %></p>

<h2><%=@article.title%></h2>

<p><%=@article.text%></p>

<h4>Comments</h4>
<%@article.comments.each do |c|%>
  <p><span><strong><%=c.user.name%>:</strong></span> <%=c.body%></p>
<%end%>

<strong>Please add your valuable comments here!</strong>
<%= form_with model: [@article, @article.comments.build], local: true do |f|%>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :body%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
